---
- name: checkout rest faucet repo
  git:
    repo: 'https://github.com/hyphacoop/cosmos-rest-faucet.git'
    dest: "{{node_user_home}}/cosmos-rest-faucet"
    version: "{{faucet_version}}"
    force: yes
  become_user: "{{node_user}}"

- name: Set up python virtual environment
  shell: |
    cd {{node_user_home}}/cosmos-rest-faucet
    python -m venv .env
  become_user: "{{node_user}}"

- name: install faucet dependencies
  pip:
    requirements: "{{node_user_home}}/cosmos-rest-faucet/requirements.txt"
    virtualenv: "{{node_user_home}}/cosmos-rest-faucet/.env"
  become_user: "{{node_user}}"

- name: configure faucet
  template:
    src: faucet_config.toml.j2
    dest: "{{node_user_home}}/cosmos-rest-faucet/config.toml"
  become_user: "{{node_user}}"

- name: configure faucet service
  template:
    src: faucet.service.j2
    dest: "/etc/systemd/system/{{faucet_service_name}}.service"

- name: Start faucet service
  systemd:
    daemon_reload: true
    state: restarted
    enabled: true
    name: "{{faucet_service_name}}"
  tags:
    - faucet_start
    - faucet_restart
