{
    "chain_name": "{{chain_id}}",
    "api": ["{{ node_api_url }}"],
    "rpc": ["{{ node_rpc_url }}"],
    "sdk_version": "0.47.8",
    "coin_type": "118",
    "min_tx_fee": "800",
    "addr_prefix": "cosmos",
    "logo": "/logo.svg",
    "assets": [{
        "base": "{{chain_denom}}",
        "symbol": "{{chain_denom_symbol}}",
        "exponent": "6",
        "logo": "/logo.svg"
    }]
}
