{
	"client.toml": {
		"keyring-backend": {{ client_keyring_backend | to_json }},
		"broadcast-mode": {{ client_broadcast_mode | to_json }}
	},
	"app.toml": {
		"minimum-gas-prices": {{ minimum_gas_prices | to_json }},
		"pruning": {{ pruning | to_json }},
		"pruning-keep-recent": {{ pruning_keep_recent | to_json }},
		"pruning-keep-every": {{ pruning_keep_every | to_json }},
		"pruning-interval": {{ pruning_interval | to_json }},
		"halt-height": {{ halt_height | to_json }},
		"halt-time": {{ halt_time | to_json }},
		"min-retain-blocks": {{ min_retain_blocks | to_json }},
		"inter-block-cache": {{ inter_block_cache | to_json }},
		"telemetry.service-name": {{ telemetry_service_name | to_json }},
		"telemetry.enabled": {{ telemetry_enabled | to_json }},
		"telemetry.enable-hostname": {{ telemetry_enable_hostname | to_json }},
		"telemetry.enable-hostname-label": {{ telemetry_enable_hostname_label | to_json }},
		"telemetry.enable-service-label": {{ telemetry_enable_service_label | to_json }},
		"telemetry.prometius-retention-time": {{ prometius_retention_time | to_json }},
		"api.enable": {{ api_enabled | to_json }},
		"api.swagger": {{ api_swagger | to_json }},
		"api.adddress": "0.0.0.0:{{ api_port }}",
		"grpc.enable": {{ grpc_enabled | to_json  }},
		"grpc.address": "0.0.0.0:{{ grpc_port }}",
		"state-sync.snapshot-interval": {{ statesync_snapshot_interval | to_json }},
		"state-sync.snapshot-keep-recent": {{ statesync_snapshot_keep_recent | to_json }}
	},
	"config.toml": {
		{% if gaiad_version == "rho" or major_version|int >= 8 %}
		"blocksync.enable": {{ fast_sync | to_json }},
		"blocksync.version": {{ fastsync_version | to_json }},
		{% else %}
		"fast_sync": {{ fast_sync | to_json }},
		"fastsync.version": {{ fastsync_version | to_json }},
		{% endif %}
		"abci": {{ abci | to_json }},
		"rpc.laddr": "tcp://0.0.0.0:{{ rpc_port }}",
		"p2p.laddr": "tcp://0.0.0.0:{{ p2p_port }}",
		"p2p.external_address": {{ p2p_external_address | to_json }},
		"p2p.seeds": {{ p2p_seeds | to_json }},
		"p2p.persistent_peers": {{ p2p_persistent_peers | to_json }},
		"p2p.upnp": {{ p2p_upnp | to_json }},
		"p2p.pex": {{ p2p_pex | to_json }},
		"p2p.seed_mode": {{ p2p_seed_mode | to_json }},
		"p2p.private_peer_ids": {{ p2p_private_peer_ids | to_json }},
		"statesync.enable": {{ statesync_enabled | to_json }},
		"statesync.rpc_servers": {{ statesync_rpc_servers | to_json }},
		"statesync.trust_height": {{ statesync_trust_height | to_json }},
		"statesync.trust_hash": {{ statesync_trust_hash | to_json }},
		"statesync.trust_period": {{ statesync_trust_period | to_json }},
		"statesync.discovery_time": {{ statesync_discovery_time | to_json }},
		"statesync.chunk_request_timeout": {{ statesync_chunk_request_timeout | to_json }},
		"statesync.chunk_fetchers": {{ statesync_chunk_fetchers | to_json }},
		"instrumentation.prometheus": {{ prometheus_enabled | to_json }},
		"instrumentation.prometheus_listen_addr": {{ prometheus_listen_addr | to_json }},
		"instrumentation.namespace": {{ instrumentation_namespace | to_json }}
	}
}
