---
# General settings

chain_binary_name: gaiad
node_user: gaia
node_user_home: "/home/{{node_user}}"
chain_home: "{{node_user_home}}/.gaia"
chain_home_clear: false
node_unsafe_reset: false
chain_version: v7.0.0
chain_repository: https://github.com/cosmos/gaia.git
chain_binary_release: "https://github.com/cosmos/gaia/releases/download/{{ chain_version }}/gaiad-{{ chain_version }}-{{binary_arch_map[ansible_architecture]}}"
chain_binary_source: "build"
chain_bin: "{{ node_user_home }}/go/bin/{{chain_binary_name}}"
node_service_name: "gaiad"
chain_gov_testing: false
chain_voting_period: 10s
chain_denom: uatom
chain_id: "theta-devnet"
chain_repo_dir: "{{ node_user_home }}/chain-repo"
chain_moniker: "{{inventory_hostname}}"
node_moniker: "{{inventory_hostname}}"

# Default variables for creating a validator
chain_create_validator: false
chain_gentx_validator: "8000000000"
node_keyring: "test"
chain_validator_coins: "1000000000000"

# Default variables for airdropping tokens
chain_airdrop: false
chain_airdrop_coins: "1000000000"
chain_airdrop_accounts: []

# Cosmovisor settings
## TODO: Support arbitrary cosmovisor branches
use_cosmovisor: true
cosmovisor_version: v1.0.0
cosmovisor_repository: github.com/cosmos/cosmos-sdk/cosmovisor/cmd/cosmovisor
cosmovisor_bin: "{{node_user_home}}/go/bin/cosmovisor"
cosmovisor_home: "{{ chain_home }}/cosmovisor"
cosmovisor_service_name: "cosmovisor"
cosmovisor_skip_backup: true

# Go configuration
go_arch: "{{binary_arch_map[ansible_architecture]}}"
go_version: "1.18.5"

## config.toml variables
fast_sync: true
abci: socket

### RPC
rpc_port: '26657'

### P2P
p2p_port: '26656'
p2p_external_address: ''
p2p_seeds: ''
p2p_persistent_peers: ''
p2p_upnp: false
p2p_pex: true
p2p_seed_mode: false
p2p_private_peer_ids: false

### Statesync
statesync_enabled: false
statesync_rpc_servers: ''
statesync_trust_height: 0
statesync_trust_hash: ''
statesync_trust_period: 168h0m0s
statesync_discovery_time: 15s
statesync_chunk_request_timeout: 10s
statesync_auto_populate: true
# TODO: Why does my config say 4 when it isn't default?
statesync_chunk_fetchers: '4'

### Fastsync
fastsync_version: v0
# TODO: All the other fastsync versions?

prometheus_enabled: false
prometheus_listen_addr: :26660
instrumentation_namespace: tendermint

## app.toml variables
minimum_gas_prices: ''
pruning: default
pruning_keep_recent: '0'
pruning_keep_every: '0'
pruning_interval: '0'
halt_height: '0'
halt_time: '0'
min_retain_blocks: '0'
inter_block_cache: true

### telemetry
telemetry_service_name: ''
telemetry_enabled: false
telemetry_enable_hostname: false
telemetry_enable_hostname_label: false
telemetry_enable_service_label: false
prometheus_retention_time: '0'

### API
api_enabled: false
api_swagger: false
api_port: '1317'

### grpc
grpc_enabled: true
grpc_port: '9090'

### state-sync
statesync_snapshot_interval: 0
statesync_snapshot_keep_recent: 2

### client.toml variables
client_keyring_backend: os
client_broadcast_mode: sync

### Faucet settings
faucet_enabled: false
faucet_version: v0.2.1
faucet_service_name: token-faucet

### node exporter config
node_exporter_port: 9100

### Prometheus / Grafana defaults
grafana_ssh_url: root@monitor.polypore.xyz
monitoring_prometheus: false

### PANIC monitoring defaults
panic_ssh_url: root@monitor.polypore.xyz
monitoring_panic: false
panic_config_file: /home/panic/panic_cosmos/config/user_config_nodes.ini
panic_is_validator: 'no'
panic_include_in_node_monitor: 'yes'
panic_include_in_network_monitor: 'yes'

### Reboot after setup
reboot: true

# Vars with no defaults (to prevent code from running)
# These don't get put into config files
# genesis_url: ""
# genesis_file: ""
# addrbook_file: ""
# addrbook_url: "https://quicksync.io/addrbook.cosmos.json"
# node_key_file: ""
# priv_validator_key_file

# Architecture mapping
binary_arch_map:
  aarch64: "linux-arm64"
  x86_64: "linux-amd64"

# Default settings for multi-node
start_multinode: false
dynamic_p2p_persistent_peers: false
