{
	"app.toml": {
		"minimum-gas-prices": {{ minimum_gas_prices | to_json }},
		"pruning": {{ pruning | to_json }},
		"pruning-keep-recent": {{ pruning_keep_recent | to_json }},
		"pruning-keep-every": {{ pruning_keep_every | to_json }},
		"pruning-interval": {{ pruning_interval | to_json }},
		"halt-height": {{ halt_height | to_json }},
		"halt-time": {{ halt_time | to_json }},
		"min-retain-blocks": {{ min_retain_blocks | to_json }},
		"inter-block-cache": {{ inter_block_cache | to_json }},
		"index-events": {{ index_events | to_json }},
		"telemetry.service-name": {{ telemetry_service_name | to_json }},
		"telemetry.enabled": {{ telemetry_enabled | to_json }},
		"telemetry.enable-hostname": {{ telemetry_enable_hostname | to_json }},
		"telemetry.enable-hostname-label": {{ telemetry_enable_hostname_label | to_json }},
		"telemetry.enable-service-label": {{ telemetry_enable_service_label | to_json }},
		"telemetry.prometheus-retention-time": {{ prometheus_retention_time | to_json }},
		"telemetry.global-labels": {{ telemetry_global_labels | to_json }},
		"api.enable": {{ api_enabled | to_json }},
		"api.swagger": {{ api_swagger | to_json }},
		"api.address": {{ api_address | to_json }},
		"api.max-open-connections": {{ api_max_open_connections | to_json }},
		"api.rpc-read-timeout": {{ api_rpc_read_timeout | to_json }},
		"api.rpc-write-timeout": {{ api_rpc_write_timeout | to_json }},
		"api.rpc-max-body-bytes": {{ api_rpc_max_body_bytes | to_json }},
		"api.enabled-unsafe-cors": {{ api_enabled_unsafe_cors | to_json }},
		"grpc.enable": {{ grpc_enabled | to_json  }},
		"grpc.address": "0.0.0.0:{{ grpc_port }}",
		"grpc-web.enable": {{ grpc_web_enabled | to_json  }},
		"grpc-web.address": "0.0.0.0:{{ grpc_web_port }}",
		"grpc-web.enable-unsafe-cors": {{ grpc_web_enable_unsafe_cors | to_json }},
		"state-sync.snapshot-interval": {{ statesync_snapshot_interval | to_json }},
		"state-sync.snapshot-keep-recent": {{ statesync_snapshot_keep_recent | to_json }}
	},
	"config.toml": {
		"proxy_app": {{ config_proxy_app | to_json }},
		"moniker": {{ chain_moniker | to_json }},
		{% if major_version|int >= 8 %}
		"blocksync.enable": {{ fast_sync | to_json }},
		"blocksync.version": {{ fastsync_version | to_json }},
		{% else %}
		"fast_sync": {{ fast_sync | to_json }},
		"fastsync.version": {{ fastsync_version | to_json }},
		{% endif %}
		"genesis_file": {{ config_genesis_file | to_json }},
		"priv_validator_key_file": {{ config_priv_validator_key_file | to_json }},
		"priv_validator_state_file": {{ config_priv_validator_state_file | to_json }},
		"priv_validator_laddr": {{ config_priv_validator_laddr | to_json }},
		"node_key_file": {{ config_node_key_file | to_json }},
		"filter_peers": {{ filter_peers | to_json }},
		"abci": {{ abci | to_json }},
		"rpc.laddr": {{ rpc_laddr | to_json }},
		"rpc.cors_allowed_origins": {{ rpc_cors_allowed_origins | to_json }},
		"rpc.cors_allowed_methods": {{ rpc_cors_allowed_methods | to_json }},
		"rpc.cors_allowed_headers": {{ rpc_cors_allowed_headers | to_json }},
		"rpc.grpc_laddr": {{ grpc_laddr | to_json }},
		"rpc.grpc_max_open_connections": {{ grpc_max_open_connections | to_json }},
		"rpc.unsafe": {{ rpc_unsafe | to_json }},
		"rpc.max_open_connections": {{ rpc_max_open_connections | to_json }},
		"rpc.max_subscription_clients": {{ rpc_max_subscription_clients | to_json }},
		"rpc.max_subscriptions_per_client": {{ rpc_max_subscriptions_per_client | to_json }},
		"rpc.timeout_broadcast_tx_commit": {{ rpc_timeout_broadcast_tx_commit | to_json }},
		"rpc.max_body_bytes": {{ rpc_max_body_bytes | to_json }},
		"rpc.max_header_bytes": {{ rpc_max_header_bytes | to_json }},
		"rpc.tls_cert_file": {{ rpc_tls_cert_file | to_json }},
		"rpc.tls_key_file": {{ rpc_tls_key_file | to_json }},
		"rpc.pprof_laddr": {{ rpc_pprof_laddr | to_json }},
		"p2p.laddr": {{ p2p_laddr | to_json }},
		"p2p.external_address": {{ p2p_external_address | to_json }},
		"p2p.seeds": {{ p2p_seeds | to_json }},
		"p2p.persistent_peers": {{ p2p_persistent_peers | to_json }},
		"p2p.upnp": {{ p2p_upnp | to_json }},
		"p2p.addr_book_file": {{ p2p_addr_book_file | to_json }},
		"p2p.addr_book_strict": {{ p2p_addr_book_strict | to_json }},
		"p2p.max_num_inbound_peers": {{ p2p_max_num_inbound_peers | to_json }},
		"p2p.max_num_outbound_peers": {{ p2p_max_num_outbound_peers | to_json }},
		"p2p.unconditional_peer_ids": {{ p2p_unconditional_peer_ids | to_json }},
		"p2p.pex": {{ p2p_pex | to_json }},
		"p2p.seed_mode": {{ p2p_seed_mode | to_json }},
		"p2p.private_peer_ids": {{ p2p_private_peer_ids | to_json }},
		"p2p.allow_duplicate_ip": {{ p2p_allow_duplicate_ip | to_json }},
		"p2p.handshake_timeout": {{ p2p_handshake_timeout | to_json }},
		"p2p.dial_timeout": {{ p2p_dial_timeout | to_json }},
		"statesync.enable": {{ statesync_enabled | to_json }},
		"statesync.rpc_servers": {{ statesync_rpc_servers | to_json }},
		"statesync.trust_height": {{ statesync_trust_height | to_json }},
		"statesync.trust_hash": {{ statesync_trust_hash | to_json }},
		"statesync.trust_period": {{ statesync_trust_period | to_json }},
		"statesync.discovery_time": {{ statesync_discovery_time | to_json }},
		"statesync.chunk_request_timeout": {{ statesync_chunk_request_timeout | to_json }},
		"statesync.chunk_fetchers": {{ statesync_chunk_fetchers | to_json }},
		"tx_index.indexer": {{ config_indexer | to_json }},
		"instrumentation.prometheus": {{ prometheus_enabled | to_json }},
		"instrumentation.prometheus_listen_addr": {{ prometheus_listen_addr | to_json }},
		"instrumentation.max_open_connections": {{ instrumentation_max_open_connnections | to_json }},
		"instrumentation.namespace": {{ instrumentation_namespace | to_json }}
	},
	"client.toml": {
		"chain-id": {{ chain_id | to_json }},
		"keyring-backend": {{ client_keyring_backend | to_json }},
		"output": {{ client_output_format | to_json }},
		"node": {{ client_rpc_interface | to_json }},
		"broadcast-mode": {{ client_broadcast_mode | to_json }}
	}
}
