[Unit]
Description="Cosmos REST faucet"

[Service]
User={{node_user}}
Environment="PATH={{chain_home}}/cosmovisor/current/bin"
WorkingDirectory={{node_user_home}}/cosmos-rest-faucet
ExecStart={{node_user_home}}/cosmos-rest-faucet/.env/bin/hypercorn cosmos_rest_faucet:app -b 0.0.0.0:8000

[Install]
WantedBy=multi-user.target
