{
    "title": "{{consumer_chain_title}}",
    "description": "{{consumer_chain_description}}",
    "chain_id": "{{consumer_chain_id}}", 
    "initial_height": {
        "revision_height": 1
    },
    "genesis_hash": "{{genesis_status.stat.checksum}}",
    "binary_hash": "{{binary_status.stat.checksum}}",
    "spawn_time": "{{spawn_time}}",
    "deposit": "{{consumer_proposal_deposit}}"
}
