[Unit]
Description=BDJuno Parser
After=network-online.target
[Service]
User={{bigdipper_user}}
ExecStart={{bdjuno_bin}} parse --home {{bdjuno_home}}
Restart=always
RestartSec=3
LimitNOFILE=4096
[Install]
WantedBy=multi-user.target
