[Unit]
Description=Bigdipper
After=network-online.target

[Service]
User={{bigdipper_user}}
ExecStart=TODO
Restart=always
RestartSec=3
LimitNOFILE=4096

Environment="NEXT_PUBLIC_GRAPHQL_URL={{bdui_graphql_url}}"
Environment="NEXT_PUBLIC_GRAPHQL_WS={{bdui_graphql_ws_url}}"
Environment="NEXT_PUBLIC_RPC_WEBSOCKET={{bdui_rpc_websocket}}"
Environment="NODE_ENV=production"
Environment="PORT={{bdui_port}}"
Environment="NEXT_PUBLIC_URL={{bdui_public_url}}"
Environment="NEXT_PUBLIC_CHAIN_TYPE={{bdui_chain}}"

[Install]
WantedBy=multi-user.target

