[Unit]
Description=Bigdipper
After=network-online.target bdjuno.service

[Service]
User={{bigdipper_user}}
Group={{bigdipper_user}}
ExecStart=/usr/bin/npm run start
WorkingDirectory={{bdui_dir}}
Restart=always

[Install]
WantedBy=multi-user.target
