{
  "maintainer": {
    "name": "Hypha Worker Co-operative",
    "url": "https://hypha.coop/"
  },
  "github": {
    "reportIssue": "https://github.com/hyphacoop/cosmos-ansible/issues"
  },
  "version": "base-v2.1.0"
}