[Unit]
Description=cosmovisor
After=network-online.target

[Service]
User={{regen_user}}
ExecStart={{ cosmovisor_bin }} start --x-crisis-skip-assert-invariants --home {{ regen_home }}
Restart=always
RestartSec=3
LimitNOFILE=4096
Environment="DAEMON_NAME=regen"
Environment="DAEMON_HOME={{ regen_home }}"
Environment="DAEMON_ALLOW_DOWNLOAD_BINARIES=false"
Environment="DAEMON_RESTART_AFTER_UPGRADE=true"
Environment="DAEMON_LOG_BUFFER_SIZE=512"
{% if cosmovisor_skip_backup %}
Environment="UNSAFE_SKIP_BACKUP=false"
{% endif %}

[Install]
WantedBy=multi-user.target
