[global]
log_level = 'info'

{% for id, chaindata in hermes_chains.items() %}
[[chains]]
account_prefix = "cosmos"
clock_drift = "5s"
gas_multiplier = 1.1
grpc_addr = "tcp://{{ chaindata.hermes_chain_hostname }}:{{ chaindata.chain_grpc_port }}"
id = "{{ id }}"
key_name = "relayer"
max_gas = 2000000
rpc_addr = "http://{{ chaindata.hermes_chain_hostname }}:{{ chaindata.chain_rpc_port }}"
rpc_timeout = "10s"
store_prefix = "ibc"
trusting_period = "14days"
websocket_addr = "ws://{{ chaindata.hermes_chain_hostname }}:{{ chaindata.chain_rpc_port }}/websocket"

[chains.gas_price]
    denom = "{{ chaindata.chain_denom }}"
    price = 0.00

[chains.trust_threshold]
       denominator = "3"
       numerator = "1"

{% endfor %}
