[global]
log_level = 'info'

[mode]

[mode.clients]
enabled = {{ mode_clients }}
refresh = {{ mode_clients_refresh }}
misbehaviour = {{ mode_clients_misbehaviour }}

[mode.connections]
enabled = {{ mode_connections}}

[mode.channels]
enabled = {{ mode_channels}}

[mode.packets]
enabled = {{ mode_packets}}
clear_interval = {{ mode_packets_clear_interval }}
clear_on_start = {{ mode_packets_clear_on_start }}
tx_confirmation = {{ mode_packets_tx_confirmation }}

[rest]
enabled = {{ hermes_rest_api }}
host = '{{ hermes_rest_api_bindhost }}'
port = {{ hermes_rest_api_port }}

[telemetry]
enabled = {{ hermes_telemetry }}
host = '{{ hermes_telemetry_bindhost }}'
port = {{ hermes_telemetry_port }}

{% for id, chaindata in hermes_chains.items() %}
[[chains]]
id = '{{ id }}'
rpc_addr = '{{ chaindata.hermes_chain_rpc_url_schema }}://{{ chaindata.hermes_chain_rpc_hostname }}:{{ chaindata.hermes_chain_rpc_port }}'
grpc_addr = '{{ chaindata.hermes_chain_grpc_url_schema }}://{{ chaindata.hermes_chain_grpc_hostname }}:{{ chaindata.hermes_chain_grpc_port }}'
websocket_addr = '{{ chaindata.hermes_chain_websocket_url_schema }}://{{ chaindata.hermes_chain_rpc_hostname }}:{{ chaindata.hermes_chain_rpc_port }}/websocket'
rpc_timeout = '{{ chaindata.hermes_chain_rpc_timeout }}'
account_prefix = '{{ chaindata.hermes_chain_account_prefix }}'
key_name = '{{ chaindata.hermes_chain_key_name }}'
store_prefix = '{{ chaindata.hermes_chain_store_prefix }}'
max_gas = {{ chaindata.hermes_chain_max_gas }}
fee_granter = '{{ chaindata.hermes_chain_fee_granter }}'
gas_price = {{ chaindata.gas_price }}
gas_multiplier = {{ chaindata.hermes_chain_gas_multiplier }}
clock_drift = '{{ chaindata.hermes_chain_clock_drift }}'
trusting_period = '{{ chaindata.hermes_chain_trusting_period }}'
trust_threshold = {{ chaindata.hermes_chain_trust_threshold }}

{% endfor %}
