[global]
log_level = 'info'

[mode]

[mode.clients]
enabled = true
refresh = true
misbehaviour = true

[mode.connections]
enabled = false

[mode.channels]
enabled = false

[mode.packets]
enabled = true
clear_interval = 100
clear_on_start = true
tx_confirmation = true

[rest]
enabled = true
host = '127.0.0.1'
port = 3000

[telemetry]
enabled = true
host = '127.0.0.1'
port = 3001

{% for id, chaindata in hermes_chains.items() %}
[[chains]]
id = '{{ id }}'
rpc_addr = 'http://{{ chaindata.hermes_chain_hostname }}:26657'
grpc_addr = 'http://{{ chaindata.hermes_chain_hostname }}:9090'
websocket_addr = 'ws://{{ chaindata.hermes_chain_hostname }}:26657/websocket'
rpc_timeout = '10s'
account_prefix = 'cosmos'
key_name = 'testkey'
store_prefix = 'ibc'
max_gas = 2000000
fee_granter = ''
gas_price = { price = 0.001, denom = 'uatom' }
gas_adjustment = 0.1
clock_drift = '5s'
trusting_period = '1days'
trust_threshold = { numerator = '1', denominator = '3' }

{% endfor %}
