{
    "title": "{{consumer_chain_title}}",
    "description": "{{consumer_chain_description}}",
    "chain_id": "{{consumer_chain_id}}", 
    "initial_height": {
        "revision_height": 1,
        "revision_number": {{ consumer_revision_number }}
    },
    "genesis_hash": "{{ consumer_genesis_hash }}",
    "binary_hash": "{{ consumer_binary_hash }}",
    "spawn_time": "{{spawn_time}}",
    "blocks_per_distribution_transmission": {{ consumer_blocks_per_distribution_transmission }},
    "consumer_redistribution_fraction": "{{ consumer_redistribution_fraction }}",
    "historical_entries": {{ consumer_historical_entries }},
    "transfer_timeout_period": {{ consumer_transfer_timeout_period }},
    "ccv_timeout_period": {{ consumer_ccv_timeout_period }},
    "unbonding_period": {{ consumer_unbonding_period }},
    "deposit": "{{consumer_proposal_deposit}}"
}