- name: create validator
  when: gaiad_create_validator
  shell: |
    cd $HOME
    PATH=$PATH:/usr/local/go/bin:$HOME/go/bin
    gaiad keys add validator --keyring-backend {{gaiad_validator_keyring}} --home {{gaiad_home}} --output json
    gaiad add-genesis-account validator {{gaiad_validator_coins}} --home {{gaiad_home}} --keyring-backend="{{gaiad_validator_keyring}}"
  register: gaiad_create_validator_output
  become_user: "{{gaiad_user}}"

- name: save validator name, address, and mnemonic
  when: gaiad_create_validator
  copy:
    content="{{gaiad_create_validator_output.stderr}}"
    dest="{{gaiad_home}}/validator.json"
  become_user: "{{gaiad_user}}"

- name: create genesis accounts
  when: gaiad_airdrop and gaiad_create_validator
  shell: |
    cd $HOME
    PATH=$PATH:/usr/local/go/bin:$HOME/go/bin
    gaiad add-genesis-account {{ item }} {{gaiad_airdrop_coins}} --home {{gaiad_home}}
  become_user: "{{gaiad_user}}"
  loop: "{{ gaiad_airdrop_accounts }}"

- name: collect gentx
  when: gaiad_create_validator
  shell: |
    cd $HOME
    PATH=$PATH:/usr/local/go/bin:$HOME/go/bin
    gaiad gentx validator {{gaiad_gentx_validator_stake}} --keyring-backend="{{gaiad_validator_keyring}}" --home {{gaiad_home}} --chain-id {{chain_id}}
    gaiad collect-gentxs --home {{gaiad_home}}
  become_user: "{{gaiad_user}}"

- name: patch genesis file with minimum deposit and short voting period
  when: gaiad_gov_testing
  shell: |
    cd {{gaiad_home}}/config
    jq '.app_state.gov.deposit_params.min_deposit[0].amount |= "1"' genesis.json > temp.json
    jq '.app_state.gov.voting_params.voting_period |= "{{ gaiad_voting_period }}"' temp.json > genesis.json
    rm temp.json

- name: patch genesis file with specified denom
  replace:
    path: '{{gaiad_home}}/config/genesis.json'
    regexp: 'stake'
    replace: '{{gaiad_bond_denom}}'

# Get trust height automatically
- name: obtain trust height
  when: statesync_enabled and statesync_auto_populate
  script:
    get_trust_height.sh {{ statesync_rpc_servers.split(',')[0] }}
  register: trust_height

- name: obtain trust height block hash ID
  when: statesync_enabled and statesync_auto_populate
  script:
    get_trust_hash.sh {{ statesync_rpc_servers.split(',')[0] }} {{ trust_height.stdout }}
  register: trust_hash

- name: print trust height and hash ID
  when: statesync_enabled and statesync_auto_populate
  debug:
    msg: 'Height {{trust_height.stdout }} has hash ID {{ trust_hash.stdout }}'
  become_user: "{{gaiad_user}}"

- name: set state sync variables
  when: statesync_enabled and statesync_auto_populate
  set_fact:
    statesync_trust_height: "{{ trust_height.stdout }}"
    statesync_trust_hash: "{{ trust_hash.stdout }}"

# Config file generation
- name: copy app.toml
  when: app_toml_file is defined
  copy:
    src: '{{app_toml_file}}'
    dest: '{{gaiad_home}}/config/app.toml'
    owner: '{{gaiad_user}}'
    group: '{{gaiad_user}}'

- name: copy config.toml
  when: config_toml_file is defined
  copy:
    src: '{{config_toml_file}}'
    dest: '{{gaiad_home}}/config/config.toml'
    owner: '{{gaiad_user}}'
    group: '{{gaiad_user}}'

- name: copy node_key.json
  when: node_key_file is defined
  copy:
    src: '{{node_key_file}}'
    dest: '{{gaiad_home}}/config/node_key.json'
    owner: '{{gaiad_user}}'
    group: '{{gaiad_user}}'

- name: copy priv_validator_key.json
  when: priv_validator_key_file is defined
  copy:
    src: '{{priv_validator_key_file}}'
    dest: '{{gaiad_home}}/config/priv_validator_key.json'
    owner: '{{gaiad_user}}'
    group: '{{gaiad_user}}'

## Addressbook config
- name: copy addrbook.json
  when: addrbook_file is defined
  copy:
    src: '{{addrbook_file}}'
    dest: '{{gaiad_home}}/config/addrbook_file.json'
    owner: '{{gaiad_user}}'
    group: '{{gaiad_user}}'

- name: download addrbook.json from URL
  when: addrbook_url is defined
  get_url:
    url: "{{addrbook_url}}"
    dest: "{{gaiad_home}}/config/addrbook.json"
    owner: '{{gaiad_user}}'
    group: '{{gaiad_user}}'

## Patching Config files
- name: generate config json for patching toml files
  template:
    src: ansible_vars.json.j2
    dest: '{{gaiad_home}}/config/ansible_vars.json'
    owner: '{{gaiad_user}}'
    group: '{{gaiad_user}}'

- name: patch .toml configs with ansible variables
  script: |
    copy_config_vars.py --gaiad_home=$(echo {{gaiad_home}}) \
      --config_file=$(echo {{gaiad_home}}/config/ansible_vars.json)
  become_user: "{{gaiad_user}}"

- name: delete generated config json
  file:
    state: absent
    path: '{{gaiad_home}}/config/ansible_vars.json'
    owner: '{{gaiad_user}}'
    group: '{{gaiad_user}}'
