- name: Check cosmovisor version
  shell: |
    PATH=$PATH:/usr/local/go/bin:$HOME/go/bin
    cosmovisor --version
  become_user: "{{gaiad_user}}"
  register: cosmovisor_current
  ignore_errors: true

- name: clone and install cosmovisor
  when: not cosmovisor_version in cosmovisor_current.stdout
  shell: |
    PATH=$PATH:/usr/local/go/bin:$HOME/go/bin
    go install {{cosmovisor_repository}}@{{cosmovisor_version}}
  become_user: "{{gaiad_user}}"

# GENESIS FILE STUFF WAS HERE
# GAIAD CONFIG STUFF WAS HERE
# TODO(makeworld): remove this

## Configure cosmovisor
- name: Prepare cosmovisor folder
  file:
    path: '{{ cosmovisor_home }}/genesis/bin'
    state: directory
    owner: '{{gaiad_user}}'
    group: '{{gaiad_user}}'

- name: Copy gaiad bin for cosmovisor genesis
  copy:
    # force: false
    remote_src: true
    src: '{{ gaiad_bin }}'
    dest: '{{ cosmovisor_home }}/genesis/bin/gaiad'
    owner: '{{gaiad_user}}'
    group: '{{gaiad_user}}'
    mode: '0755'

- name: Add gaiad bin from cosmovisor to .bashrc PATH
  blockinfile:
    dest: '{{ gaiad_user_home }}/.bashrc'
    block: |
      export PATH="$PATH:{{ cosmovisor_home }}/current/bin"
    marker: '# {mark} ANSIBLE MANAGED BLOCK - GAIAD PATH'
    insertbefore: EOF
    create: yes
