---

- name: Upgrade the system
  apt:
    update_cache: true
    upgrade: dist
  register: apt_cache
  retries: 50
  until: apt_cache is success

- name: Remove python3-pip apt package
  ansible.builtin.apt:
    name: python3-pip
    state: absent

- name: Download script to install pip3
  get_url:
    url: https://bootstrap.pypa.io/get-pip.py
    dest: /tmp/get-pip.py
    mode: '0644'

- name: Install pip3 using downloaded script
  shell: python3 /tmp/get-pip.py

- name: Install system required packages
  apt:
    pkg:
      - ntp
      - python3
      - python3-apt
      - curl
      - apt-transport-https
      - software-properties-common
      - wget
      - git
      - build-essential
      - haveged
      - python3-openssl
      - jq
      - rsync

- name: Install basic utils
  apt:
    state: present
    pkg:
      - curl
      - htop
      - mtr-tiny

- name: Set timezone to America/Toronto
  timezone:
    name: America/Toronto
