{% if item.1.pagerduty_key is defined %}
    # {{ item.1.name }} critical/error alerts → PagerDuty first
    - match_re:
        chain_id: "{{ item.1.name }}"
        severity: (critical|error)
      receiver: 'pagerduty-{{ item.1.name }}'
      continue: true

    # {{ item.1.name }} all alerts → Matrix
    - match:
        chain_id: "{{ item.1.name }}"
      receiver: 'cosmos-monitoring-matrix'
{% endif %}
