{% if item.1.pagerduty_key is defined %}
  # PagerDuty receiver for {{ item.1.name }}
  - name: 'pagerduty-{{ item.1.name }}'
    pagerduty_configs:
      - routing_key: '{{ item.1.pagerduty_key }}'
        description: '[{{ item.1.name }}] {% raw %}{{ .GroupLabels.alertname }}{% endraw %}'
        severity: '{% raw %}{{ .CommonLabels.severity }}{% endraw %}'
        details:
          summary: '{% raw %}{{ .CommonAnnotations.summary }}{% endraw %}'
          description: '{% raw %}{{ .CommonAnnotations.description }}{% endraw %}'
          chain_id: '{% raw %}{{ .GroupLabels.chain_id }}{% endraw %}'
          instance: '{% raw %}{{ .GroupLabels.instance }}{% endraw %}'
          severity_label: '{% raw %}{{ .CommonLabels.severity }}{% endraw %}'
        send_resolved: true
{% endif %}
