---

name: Test Gaia Versions Stateful Genesis
on:
  pull_request:
    types:
      - opened
      - closed
  push:
    paths:
      - 'logs/tinkered-genesis**'
jobs:
  generate-matrices:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install requests

      - name: Generate starting versions
        id: generate-start
        run: |
          start=$(tests/generate_version_matrix.py v6.0.4)
          echo $start
          echo ::set-output name=start_versions::$start
      - name: Generate upgrade versions
        id: generate-upgrade
        run: |
          upgrade=$(tests/generate_upgrade_matrix.py v6.0.4)
          echo $upgrade
          echo ::set-output name=upgrade_versions::$upgrade
    outputs:
      start_versions: ${{ steps.generate-start.outputs.start_versions }}
      upgrade_versions: ${{ steps.generate-upgrade.outputs.upgrade_versions }}

  parse-log:
    runs-on: ubuntu-latest
    needs: generate-matrices
    strategy:
      matrix:
        ${{ fromJSON(needs.generate-matrices.outputs.upgrade_versions) }}
    steps:
      - run: echo "Test ${{matrix.gaia_version}}"
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Parse Log File
        run: grep "Upgrade Successful" logs/tinkered-genesis-upgrade_${{ matrix.gaia_version }}_${{ matrix.upgrade_version }}.log
